
  
    <style>
    .carousel-item {
    height: 500px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
  
  #btn-slideshow {
      width: 200px;
  }

  #wish:hover i {
    color: aqua;
  }
main {
    min-height: 700px;
}
  
    </style>
  <main id="main-container" class="main-container">
      
      <div class="container">
          <div class="row flex-column-reverse flex-lg-row">
   
  
  
              <div class="col-lg-12">
                
  
                  <!-- ::::::  Start Sort Box Section  ::::::  -->
                  <div class="sort-box m-tb-30">
                      <!-- Start Sort Left Side -->
                   <!-- Start Sort Left Side -->
  
                   <div class="sort-box__right">
                    <span style="width: 200px;">Có {{product.count}} sản phẩm.</span>
                    <select #filgia name="" id="" (change)="filter(filgia.value)" class="form-control">
                        <option value="0">Giá (Tất cả)</option>
                        <option value="1">Dưới 15 triệu</option>
                        <option value="2">15 - 20 triệu</option>
                        <option value="3">20 - 25 triệu</option>
                        <option value="4">25 - 30 triệu</option>
                        <option value="5">Trên 30 triệu</option>
                    </select>

                </div>
                  </div> <!-- ::::::  Start Sort Box Section  ::::::  -->
  
                  <div class="product-tab-area">
                      <div class="tab-content ">
                          <div class="tab-pane show active clearfix" id="sort-grid">
                              <!-- Start Single Default Product -->
                           
                              <div *ngFor="let pro of product.pro | orderBy: 'price'" class="product__box product__box--default product__box--border-hover text-center float-left float-4" style="background-color: white; height: 300px;" >
                                  <div class="product__img-box">
                                      <a *ngIf="pro.image" (click)="goToProductDetails(pro.id)" class="product__img--link">
                                          <img class="product__img" src="../../assets/img/product/{{pro.image}}" alt="">
                                      </a>
                                      <a *ngIf="!pro.image" (click)="goToProductDetails(pro.id)" class="product__img--link">
                                          <img class="product__img" src="../../../assets/img/product/noimage.png" alt="">
                                      </a>
  
                                      <a (click)="addCart(pro.id)" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">Add to cart</a>
  
                                      <a (click)="addToWishList(pro.id)" id="wish" class="product__wishlist-icon"><i class="icon-heart" style="color: red;"></i></a>
                                    
                                  </div>
                                  <div *ngIf="pro.salePrice>0" class="product__price m-t-10">
                                    <span  class="product__price-del">{{pro.price | currency:'VND'}}</span>
                                    <span class="product__price-reg">{{pro.salePrice | currency:'VND'}}</span>
                                  </div>
                                  <div *ngIf="pro.salePrice==0" class="product__price m-t-10">
                                    <span class="product__price-reg">{{pro.price | currency:'VND'}}</span>
                                  </div>
                                  <a (click)="goToProductDetails(pro.id)" class="product__link product__link--underline product__link--weight-light m-t-15">
                                      {{pro.name}}
                                  </a>
                              </div>
                             
                          </div>
                  
                    
                        
                          </div>
            
                      </div>
              
  
                
              </div>  <!-- Start Rightside - Content -->
              
          </div>
    
      </div>
  </main>  
  

