<div class="row">
    <div class="col-lg-6 ">
  
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
            <div class="form-group">
                <label>Tìm kiếm</label>
                <div class="sr">
                <input type="text" placeholder="Nhập tên sản phẩm cần tìm" class="form-control form-control-rounded"  id="txt"  formControlName="txt">
                <button id="search" class="btn btn-info" ><i class="fa fa-search "></i>&nbsp;Tìm kiếm</button>
            </div>
            </div>
        </form>
            

    </div>
    <div class="col-lg-6 align-self-center text-right">
        <a class="nav-link"  [routerLink]="['/admin/product/create']" class="btn btn-info box-shadow  btn-rounded"><i class="fa fa-plus"></i> Thêm</a>
    </div>
</div>
<table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" width="100%">
    <thead>
        <tr>
            <th>
                <strong>Hình ảnh</strong>
            </th>
            <th>
                <strong>Tên sản phẩm</strong>
            </th>
            <th>
                <strong>Tồn kho</strong>
            </th>
            <th>
                <strong>Loại sản phẩm</strong>
            </th>
            <th>
                <strong>Action</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of POSTS | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index">
            <td *ngIf="pro.image!=null"><img src="../../../assets/img/product/{{pro.image}}" style="width: 150px" alt=""></td>
            <td *ngIf="pro.image==null"><img src="../../../assets/img/product/noimage.png" style="width: 150px" alt=""></td>
            <td>
                {{pro.name}}
            </td>
            <td>{{pro.stock}}</td>
            <td>{{pro.category}}</td>
           
            <td class="text-center">
                <button (click)="goToProductDetails(pro.id)"  type="button" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>&nbsp;
                <button (click)="goToProductEdit(pro.id)" type="button" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>&nbsp;
                <button (click)="removeProduct(pro.id)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
      
    </tbody>
    
</table>
<div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>

  <style>
    .sr {
        display: flex;

    }
  </style>