<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Section search -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <b>Search</b>
                            </h3>
                        </div>
                        <div class="card-body pad">
                            <form [formGroup]="searchForm" >
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Name Depot: </label>
                                            <input type="text" id="nameDepot" formControlName="nameDepot" (input)="Search(searchForm)" class="form-control form-control-xs" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Name product: </label>
                                            <input type="text" id="nameProduct" formControlName="nameProduct" (input)="Search(searchForm)" class="form-control form-control-xs" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            
        </div>
        <!--Section data table-->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b>{{this.title}}</b>
                        </h3>
                    </div>
                    <div class="card-body pad">
                        <div class="row">
                            <div class="col-md-12 table-body table-responsive">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Inventory report</legend>
                                    <div class="control-group">
                                        <!-- <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" id="myTable" class="table table-bordered "> -->
                                        <table id="myTable" class="table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th width="250px"></th>
                                                    <th >Id</th>
                                                    <th>Name Product</th>
                                                    <th>Name Depot</th>
                                                    <th>price</th>
                                                    <th>Inventory product</th>
                                                </tr>
                                            </thead>
                                
                                            <tbody>
                                              
                                                <tr *ngFor="let item of Data; let i=index">
                                                    <td>
                                                        <a (click)="SetPriceOnProduct(item.id)" class="btn">
                                                            <i class="fa fa-plus"></i> Update price product
                                                        </a>
                                                    </td>
                                                    <td>{{item.id}}</td>
                                                    <td>{{item.nameProduct}}</td>
                                                    <td>{{item.nameDepot}}</td>
                                                    <td>{{item.price}}</td>
                                                    <td>{{item.quantityProduct}}</td>
                                                    
                                                </tr>
                                                  
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!--End section data table-->
    </div>
</section>


