<div class="container" id="ctn">
    <main id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <!-- Start Product Details Gallery -->
                <div class="col-12">
                    <div class="product-details">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="home-slideshow" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#home-slideshow" data-slide-to="0" class="active"></li>
                                        <li data-target="#home-slideshow" data-slide-to="1"></li>
                                        <li data-target="#home-slideshow" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="../../../assets/img/product/{{product.image}}" class="d-block w-100" alt="...">
                                        
                                        </div>
                                    
                                    </div>
                                    <a class="carousel-control-prev" href="#home-slideshow" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#home-slideshow" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
    
                                <style>
                                    .carousel-item {
                                        height: 500px;
                                    }
    
                                    .item img {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        min-height: 300px;
                                    }
    
                                    #btn-slideshow {
                                        width: 200px;
                                    }

                                    #ctn {
                                        padding-top: 10px;
                                    }
                                </style>
                            </div>
                            <div class="col-md-6">
                                <div class="product-details-box">
                                    <h5 class="section-content__title">{{product.name}}</h5>

                                
    
                                    <div class="review-box">
                                       <span style="color: Yellow;font-weight: 1000;"> {{product.star}} <i class="fa fa-star" style="color: Yellow;"></i></span>

                                    </div>
                                    <div class="product__price">
    
                                        <span class="product__price-reg">{{product.price | currency:'VND'}}</span>
                                    </div>
                                    <div class="info">
                                        <div class="product__desc m-t-25 m-b-30">
                                            <p>{{product.description}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>RAM:&nbsp; {{product.ram}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>CPU:&nbsp; {{product.cpu}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Ổ cứng:&nbsp; {{product.hardDisk}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Cổng kết nối:&nbsp; {{product.port}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Hệ điều hành:&nbsp; {{product.os}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Màn hình:&nbsp; {{product.monitor}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Card đồ hoạ:&nbsp; {{product.vga}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Kiểu thiết kế:&nbsp; {{product.designStyle}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Kích thước - cân nặng:&nbsp; {{product.sizeWeight}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Nhãn hiệu:&nbsp; {{product.tradeMark}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Thời điểm ra mắt:&nbsp; {{product.releaseTime}} </p>
                                        </div>
                                        <div class="product-var p-t-30">
                                            <p>Phù hợp cho :&nbsp; <a href="">{{product.category}}</a> </p>
                                        </div>

                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Product Details Gallery -->
   
    
            </div>
        </div>
    </main>
</div>