<div class="header__middle header__middle--style-2 p-tb-30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="index.html" class="header__logo-link">
                        <img src="../../../assets/assets/img/logo/logo-invert.jpg" alt="" class="header__logo-img">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 offset-lg-1">
             
                    <div class="col-lg-9">
                        <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
                            <div class="header__search-input">
                                <input type="search" placeholder="Enter your search key" formControlName="txtSearch">
                                <button class=" btn--blue btn--uppercase btn--weight yellow-bg" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
          
             
            </div>
        </div>
    </div>
  </div> 
<div class="page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="page-breadcrumb__menu">
                    <li class="page-breadcrumb__nav"><a href="#">Home</a></li>
                    <li class="page-breadcrumb__nav active">Cart Page</li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- ::::::  End  Breadcrumb Section  ::::::  -->

<!-- ::::::  Start  Main Container Section  ::::::  -->
<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-content">
                    <h5 class="section-content__title">Your cart items</h5>
                </div>
                <!-- Start Cart Table -->
                <div class="table-content table-responsive cart-table-content m-t-30">
                    <table>
                        <thead class="gray-bg">
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Until Price</th>
                                <th>Qty</th>
                                <th>Subtotal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of cart">
                                <td class="product-thumbnail">
                                    <a (click)="goToProductDetails(c.idSanPham)"><img class="img-fluid" src="../../../assets/img/product/{{c.image}}"
                                            alt=""></a>
                                </td>
                                <td class="product-name"><a (click)="goToProductDetails(c.idSanPham)">{{c.tenSanPham}}</a></td>
                                <td class="product-price-cart"><span class="amount">{{c.giaSanPham |
                                        currency:'VND'}}</span></td>
                                <td class="product-quantities">
                                    <div class="quantity d-inline-block">
                                        <input type="number" min="1" step="1" value="{{c.soLuong}}">
                                    </div>
                                </td>
                                <td class="product-subtotal">{{c.gia | currency:'VND'}}</td>
                                <td class="product-remove">
                                    <a (click)="removeCart(c.id)"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div> <!-- End Cart Table -->
                <!-- Start Cart Table Button -->
                <div *ngIf="!isempty" class="cart-table-button m-t-10">
                    <div class="cart-table-button--left">
                        <a href="#" class="btn btn--box btn--large btn--gray btn--uppercase btn--weight m-t-20">CONTINUE
                            SHOPPING</a>
                    </div>
                    <div class="cart-table-button--right">
                        <a (click)="removeAllCart()" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight m-t-20">XOÁ TOÀN BỘ GIỎ HÀNG</a>
                        <a href="#"
                            class="btn btn--box btn--large btn--gray btn--uppercase btn--weight m-t-20 m-r-20">CẬP NHẬT GIỎ HÀNG</a>
                        <a (click)="order()" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight m-t-20">ĐẶT HÀNG</a>
                    </div>
                </div>
                <div *ngIf="isempty" class="content">
                    <div class="row" id="cart-content-text">
                        <h1>Không có gì trong giỏ hàng</h1>

                    </div>
                    <div class="row" id="cart-content">
                        <div><i class="fa fa-ban fa-10x" aria-hidden="true"></i></div>
                    </div> <!-- End Cart Table Button -->
                </div>
            </div>

        </div>

    </div>
</main>

<style>
    #cart-content-text {
        opacity: 50%;
        padding-top: 30px;
        font-size: large;
        color: grey;
        justify-content: center;
    }

    #cart-content {
        opacity: 50%;
        padding-top: 30px;
        font-size: large;
        height: 300px;
        color: grey;
        justify-content: center;
    }
</style>