<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-default">
                Thêm nhà cung cấp
            </div>
            <div class="card-body">

                <form [formGroup]="supplierForm" (ngSubmit)="onSubmit(supplierForm)">


                    <div class="form-group">
                        <label>Tên nhà cung cấp</label>
                        <input type="text" placeholder="Nhập tên nhà cung cấp" class="form-control form-control-rounded col-md-12"
                            formControlName="supplierName">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="Nhập email" class="form-control form-control-rounded col-md-12" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="number" placeholder="Nhập số điện thoại" class="form-control col-md-12" formControlName="phone">
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" placeholder="Nhập địa chỉ" class="form-control form-control-rounded col-md-12" formControlName="address">
                    </div>
                 


                    <button type="submit" class="btn btn-info"><i class="fa fa-floppy-o "></i>&nbsp;Thêm</button>&nbsp;
                    <a (click)="cancle()" style="color: rgb(114, 114, 255);">&nbsp;Huỷ</a>
             
                </form>
            </div>
        </div>
    </div>
</div>
