<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
    </div>
    <div class="col-lg-6 align-self-center text-right">
        <a class="nav-link"  [routerLink]="['/admin/account/admin-create']" class="btn btn-success box-shadow btn-icon btn-rounded"><i class="fa fa-plus"></i> Create New</a>
    </div>
</div>
<table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" width="100%">
    <thead>
        <tr>
        
            <th>
                <strong>Tên tài khoản</strong>
            </th>
            <th>
                <strong>Email</strong>
            </th>
            <th>
                <strong>Số điện thoại</strong>
            </th>
            <th>
                <strong>Loại tài khoản</strong>
            </th>
            <th>
                <strong>Địa chỉ</strong>
            </th>
            <th>
                <strong>Trạng thái</strong>
            </th>
            <th>
                <strong>Action</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acc of account">
            <!-- <td *ngIf="acc.avatar;"><img src="../../../assets/img/product/{{acc.avatar}}" style="width: 150px" alt=""></td>
            <td *ngIf="!acc.avatar;"><img src="../../../assets/img/noAvatar.png" style="width: 150px" alt=""></td> -->
            
            <td>
                {{acc.username}}
            </td>
            <td>{{acc.email}}</td>
            <td>{{acc.phone}}</td>
            <td>{{acc.accoutType}}</td>
            <td>{{acc.address}}</td>
            <td *ngIf="acc.isLocked">Đã khoá</td>
            <td *ngIf="!acc.isLocked">Hoạt động</td>
            <td class="text-center">
                <button *ngIf="!acc.isLocked" (click)="lockAccount(acc.id)" type="button" class="btn btn-sm btn-warning"><i  class="fa fa-lock"></i></button>
                <button *ngIf="acc.isLocked" (click)="lockAccount(acc.id)" type="button" class="btn btn-sm btn-success"><i  class="fa fa-unlock-alt" aria-hidden="true"></i></button>&nbsp;
                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
      
    </tbody>
</table>