<div class="alert bg-success alert-dismissible " hidden="true" role="alert"> <button type="button" class="close"
        data-dismiss="alert" aria-label="Close"><span>×</span></button> <strong>Success!</strong>
    Product successfully added. </div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-default">
                Thêm sản phẩm
            </div>
            <div class="card-body">

                <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm)" enctype="multipart/form-data">

                    <div class="form-group">
                        <label>Tên sản phẩm</label>
                        <input type="text" placeholder="Nhập tên sản phẩm" class="form-control form-control-rounded"
                            formControlName="name">
                    </div>

                    <div class="form-group">
                        <label>Loại sản phẩm</label>

                        <select class="form-control m-b" formControlName="categoryId">
                            <Option *ngFor="let p of category" value="{{p.id}}">{{p.name}}</Option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label>Giá</label>
                        <div class="input-group col-md-4">
                            <span class="input-group-addon">VNĐ</span>
                            <input type="text" class="form-control" formControlName="price">

                        </div>
                    </div>


                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea formControlName="description">

                        </textarea>
                    </div>
                    <div class="form-group">
                        <label>Thương hiệu</label>
                        <select class="form-control m-b" formControlName="tradeMark">
                            <Option *ngFor="let p of brand" value="{{p.id}}">{{p.name}}</Option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>CPU</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="cpu"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Ổ cứng</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="hardDisk"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Kiểu thiết kế</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="designStyle"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Màn hình</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="monitor"></textarea>
                    </div>
                    <div class="form-group">
                        <label>RAM</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="ram"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Hệ điều hành</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="os"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Cổng kết nối</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="port"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Ngày ra mắt</label>
                        <input type="text" class="form-control form-control-rounded col-md-4"
                            formControlName="releaseTime">
                    </div>
                    <div class="form-group">
                        <label>Kích thước - cân nặng</label>

                        <textarea name="" id="" cols="30" rows="10" formControlName="sizeWeight"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Card đồ hoạ (VGA)</label>


                        <textarea name="" id="" cols="30" rows="10" formControlName="vga"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Ảnh sản phẩm</label> <br>
                        <div class="rev">
                            <img *ngIf="imgShowReview!=null" [src]="imgShowReview" alt="..." style="width: 150px;">
                        </div>
                        <span class="btn-file1">

                            <input type="file" #file1 placeholder="Choose file"
                                (change)="uploadFileShow(file1.files,$event)" style="display:none;">
                            <button type="button" class="btn btn-success" (click)="file1.click()">Upload File1</button>
                        </span>

                    </div>

                    <div class="form-group">
                        <label>Hình ảnh</label>
                        <div class="review" style="display: flex;">

                            <div class="img" *ngFor="let url of images">
                                <img [src]="url" alt="..." style="width: 150px;"> <span
                                    (click)="removeImg(url)">x</span>
                            </div>
                        </div>

                        <div class="fileinput-new" data-provides="fileinput">


                            <span class="btn-file">

                                <input type="file" #file placeholder="Choose file"
                                    (change)="uploadFile(file.files,$event)" style="display:none;">
                                <button type="button" class="btn btn-success" (click)="file.click()">Upload
                                    File</button>
                            </span>


                        </div>

                    </div>



                    <button type="submit" class="btn btn-success btn-icon"><i class="fa fa-floppy-o "></i>Thêm
                        mới</button>
                    <a [routerLink]="['/admin/product']" class="btn btn-warning btn-icon"><i class="fa fa-reply"></i>trở
                        về</a>

                </form>
            </div>
        </div>
    </div>
</div>