<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-default">
          Danh sách hoá đơn
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Địa chỉ </th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày lập</th>
                                    <th>Tổng tiền</th>
                                    <th>Action</th>
                                 
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let inv of invoice">
                                    <td>{{inv.username}}</td>
                                    <td>{{inv.shippingAddress}}</td>
                                    <td>{{inv.phone}}</td>
                                    <td>{{inv.date | date:'dd/MM/yyyy'}}</td>
                                    <td>{{inv.total | currency:'VND'}}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-info" (click)="openDialog(inv.id)"><i class="fa fa-eye"></i></button>
                                        <button type="button" class="btn btn-sm btn-info"><i class="fa fa-check"></i></button>
                                    </td>
                               
                                </tr>
                                
           
                            </tbody>
                        </table>

        </div>
    </div>
</div>
</div>