<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-default">
                Thêm sản phẩm
            </div>
            <div class="card-body">

                <form [formGroup]="supplierForm" (ngSubmit)="onSubmit(supplierForm)">


                    <div class="form-group">
                        <label>Tên nhà cung cấp</label>
                        <input type="text" class="form-control form-control-rounded col-md-4"
                            formControlName="supplierName">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control form-control-rounded col-md-4" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="text" class="form-control form-control-rounded col-md-4" formControlName="phone">
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" class="form-control form-control-rounded col-md-4" formControlName="address">
                    </div>
                 


                    <button type="submit" class="btn btn-success btn-icon"><i class="fa fa-floppy-o "></i>Save</button>
                    <a href="#" class="btn btn-warning btn-icon"><i class="fa fa-reply"></i>Back</a>
                    <a href="#" class="btn btn-danger btn-icon"><i class="fa fa-times"></i>Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>