<div class="col-md-12">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm)">

        <div class="form-group">
            <label>Sản phẩm</label> <br>
            <select name="" id="" formControlName="sanPham">
                <Option *ngFor="let p of product" value="{{p.id}}">{{p.name}}</Option>
            </select>
        </div>
        <div class="form-group">
            <label>Nhà cung cấp</label> <br>
            <select name="" id="" formControlName="nhaCungCap">
                <Option *ngFor="let s of supplier" value="{{s.id}}">{{s.tenNhaCungCap}}</Option>
            </select>
        </div>
        <div class="form-group">
            <label>Số lượng</label>
            <div class="sr1">
                <input type="number" placeholder="" class="form-control form-control-rounded" id="name"
                    formControlName="soLuong">
               
            </div>
        </div>
        <div class="form-group">
            <label>Giá nhập</label>
            <div class="sr1">
                <input type="number" placeholder="" class="form-control form-control-rounded" id="name"
                    formControlName="gia"> <br>
            </div>
        </div>
        <button class="btn btn-success btn-icon" type="submit" [disabled]="!itemForm.valid"><i
            class="fa fa-floppy-o "></i>Save</button>




    </form>
</div>




