<!-- ::::::  End  Breadcrumb Section  ::::::  -->

<!-- ::::::  Start  Main Container Section  ::::::  -->
<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-content">
                    <h5 class="section-content__title" style="margin-top: 20px;">Danh sách sản phẩm yêu thích</h5>
                </div>
                <!-- Start Cart Table -->
                <div class="table-content table-responsive cart-table-content m-t-30">
                    <table>
                        <thead class="gray-bg">
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of wishlist">
                                <td class="product-thumbnail">
                                    <a (click)="goToProductDetails(c.idSanPham)"><img class="img-fluid" src="../../../assets/img/product/{{c.image}}"
                                            alt=""></a>
                                </td>
                                <td class="product-name"><a (click)="goToProductDetails(c.id)">{{c.tenSanPham}}</a></td>
                               
                                <td class="product-subtotal text-center" >{{c.gia | currency:'VND'}}</td>
                                <td class="product-remove">
                                    <a (click)="addCart(c.idSanPham)" ><i class="fa fa-cart-plus"></i></a>
                                    <a (click)="removeWishList(c.id)"><i class="fa fa-times"></i></a>
                                </td>
                            
                            </tr>

                        </tbody>
                    </table>
                </div> <!-- End Cart Table -->
                <!-- Start Cart Table Button -->
   
                <div *ngIf="isempty" class="content">
                    <div class="row" id="cart-content-text">
                        <h1>Không có sản phẩm yêu thích</h1>

                    </div>
                    <div class="row" id="cart-content">
                        <div><i class="fa fa-ban fa-10x" aria-hidden="true"></i></div>
                    </div> <!-- End Cart Table Button -->
                </div>
            </div>

        </div>

    </div>
</main>

<style>
    #cart-content-text {
        opacity: 50%;
        padding-top: 30px;
        font-size: large;
        color: grey;
        justify-content: center;
    }

    #cart-content {
        opacity: 50%;
        padding-top: 30px;
        font-size: large;
        height: 300px;
        color: grey;
        justify-content: center;
    }
    main {
        min-height: 700px;
    }
</style>
