<div class="title">
    <span style="display:flex;justify-content:center; margin-bottom:20px; font-size:20px; font-weight:500;">Cập nhật nhà cung cấp</span>
</div>
<form [formGroup]="supplierForm" (ngSubmit)="onSubmit(supplierForm)">


    <div class="form-group">
        <label>Tên nhà cung cấp</label>
        <input type="text" placeholder="Nhập tên nhà cung cấp" class="form-control form-control-rounded "
            formControlName="name">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" placeholder="Nhập email" class="form-control form-control-rounded " formControlName="email">
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="number" placeholder="Nhập số điện thoại" class="form-control" formControlName="phone" [value]="sup">
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" placeholder="Nhập địa chỉ" class="form-control form-control-rounded " formControlName="address">
    </div>
 


    <button type="submit" class="btn btn-info"><i class="fa fa-floppy-o "></i>&nbsp;Lưu</button>&nbsp;
    

</form>
