
<div class="row">
<div class="col-md-7">
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm)">
						
    <div class="form-group">
        <label>Tên danh mục</label>
        <div class="sr1">	
        <input type="text" placeholder="Nhập tên danh mục" class="form-control form-control-rounded"  id="name"  formControlName="name">
        <button class="btn btn-success btn-icon" type="submit" [disabled]="!categoryForm.valid"><i class="fa fa-floppy-o "></i>Create</button>
    </div>

</div>
    
    </form>
</div>
<div class="col-md-5">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit1(searchForm)">
    <div class="form-group">
        <label>Tìm kiếm</label>
        <div class="sr">
        <input type="text" placeholder="Nhập tên danh mục cần tìm" class="form-control form-control-rounded"  id="txtSearch"  formControlName="txtSearch">
        <button id="search" class="btn btn-success btn-icon" ><i class="fa fa-search "></i>Search</button>
    </div>
    </div>
</form>
    
</div>

</div>

<style> 
.sr {
        display: flex;
    }
    .sr1 {
        display: flex;
    }
</style>
<table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline align-self-center" width="100%">
    <thead>
        <tr>
            <th>
                <strong>ID</strong>
            </th>
            <th>
                <strong>Tên danh mục</strong>
            </th>
            <th>
                <strong>Số lượng sản phẩm</strong>
            </th>
            <th>
                <strong>Action</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cate of category">
            <td>{{cate.id}}</td>
            <td>
                {{cate.name}}
            </td>
            <td>{{cate.totalProduct}}</td>
           
            <td class="text-center">
               
                <button (click)="edit(cate.id)" type="button" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>&nbsp;
                <button (click)="deleteCategory(cate.id)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    
      
    </tbody>
</table>


