<header>
    <h2>{{msg}}</h2>
</header>
<footer>
    <button class="btn btn-sm btn-success" style="border-radius: 5px;" (click)="accept()">Đồng ý</button>&nbsp;&nbsp;
    <button  class="btn btn-sm btn-danger" style="border-radius: 5px;" (click)="cancel()">Huỷ</button>
</footer>

<style>
    header {
        display: flex;
        justify-content: center;
        color: dodgerblue;
    }

    footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 60px;
        
        
    }

  
  
</style>
