<div class="row page-header">
    <div class="col-6 align-self-center ">
      <h2>Quản lý slideshow</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']" style="font-size: 15px;">Trang chủ</a></li>
         
            <li class="breadcrumb-item active" style="font-size: 15px;">Quản lý slideshow</li>		
        </ol>
    </div>
</div>
<style>
    ol li {
        display: flex;
        align-items: center;
        color: #868e96;
        
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 ">
                     
                          
                            
                
                    </div>
                    <div class="col-lg-6 align-self-center text-right">
                        <a class="nav-link"  (click)="create()" class="btn btn-info box-shadow btn-rounded"><i class="fa fa-plus"></i>&nbsp; Thêm mới</a>
                    </div>
                </div>
                <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" width="100%">
                    <thead>
                        <tr  class="bg-chart" style="color: white;">
                            <th>
                                <strong>Hình ảnh</strong>
                            </th>
                            <th>
                                <strong>URL</strong>
                            </th>
                            <th>
                                <strong>Trạng thái</strong>
                            </th>
                
                            <th>
                                <strong>Tác vụ</strong>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pro of POSTS">
                            <td *ngIf="pro.image!=null"><img src="../../../assets/img/slide/{{pro.image}}" style="width: 150px" alt=""></td>
                            <td *ngIf="pro.image==null"><img src="../../../assets/img/product/noimage.png" style="width: 150px" alt=""></td>
                            <td>
                                {{pro.link}}
                            </td>
                          
                      
                            <td *ngIf="pro.active!=true" style="width: 170px;">Không hiển thị</td>
                            <td *ngIf="pro.active==true" style="width: 170px;">Đang hiển thị</td>
                            <td >
                                <button *ngIf="pro.active" (click)="active(pro.id)" type="button" class="btn btn-sm btn-info"><i class="fa fa-eye-slash"></i></button>
                                <button *ngIf="!pro.active" (click)="active(pro.id)" type="button" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>
                                <button (click)="openEdit(pro.id)" type="button" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button>
                                <button (click)="delete(pro.id)"  type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                      
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>


  <style>
    .sr {
        display: flex;

    }

    td button {
        margin-left: 5px;
    }
  </style>
