
<div class="row page-header">
    <div class="col-6 align-self-center ">
      <h2>Cập nhật sản phẩm</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']" style="font-size: 15px;">Trang chủ</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/admin/product']" style="font-size: 15px;">Quản lý sản phẩm</a></li>
            <li class="breadcrumb-item active" style="font-size: 15px;">Cập nhật sản phẩm</li>		
        </ol>
    </div>
</div>
<style>
    ol li {
        display: flex;
        align-items: center;
        color: #868e96;
        
    }
</style>
<div class="row">
<div class="col">
    <div class="card">
   
        <div class="card-body">

            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm)">
                
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input type="text" placeholder="Nhập tên sản phẩm" class="form-control form-control-rounded"
                                formControlName="name">
                        </div>
    
                        <div class="form-group">
                            <label>Loại sản phẩm</label>
    
                            <select class="form-control m-b" formControlName="categoryId">
                                <Option *ngFor="let p of category" value="{{p.id}}">{{p.name}}</Option>
                            </select>
    
                        </div>
                        <div class="form-group">
                            <label>Giá</label>
                            <div class="input-group">
                                <span class="input-group-addon">VNĐ</span>
                                <input type="number" class="form-control" formControlName="price">
    
                            </div>
                        </div>
    
    
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea formControlName="description" style="height: 150px;">
    
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label>Thương hiệu</label>
                            <select class="form-control m-b" formControlName="tradeMarkId">
                                <Option *ngFor="let p of brand" value="{{p.id}}">{{p.name}}</Option>
                            </select>
                           
                        </div>
                        <div class="form-group">
                            <label>CPU</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="cpu"></textarea>
                        </div>
                        <div class="form-group">
                            <label>RAM</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="ram"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ổ cứng</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="hardDisk"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Kiểu thiết kế</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="designStyle"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Màn hình</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="monitor"></textarea>
                        </div>
                       
                        <div class="form-group">
                            <label>Hệ điều hành</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="os"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Cổng kết nối</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="port" style="height: 60px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ngày ra mắt</label>
                            <textarea name="" id="" cols="30" rows="10" formControlName="releaseTime"></textarea>
    
                        </div>
                        <div class="form-group">
                            <label>Kích thước - cân nặng</label>
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="sizeWeight"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Card đồ hoạ (VGA)</label>
    
    
                            <textarea name="" id="" cols="30" rows="10" formControlName="vga"></textarea>
                        </div>
                    </div>
                </div>
           
                <div class="form-group">
                    <label>Ảnh sản phẩm</label> <br>
                    <div class="review">
                        <img *ngIf="lstImg1!=null" src="../../../../assets/img/product/{{lstImg1}}"  alt="..." style="width: 150px;">
                        <img *ngIf="lstImg1==null&&imgshow!=null" [src]="imgshow"  alt="..." style="width: 150px;">
                    </div>
                        <span class="btn-file1">
                    
                            <input type="file" #file1 placeholder="Choose file" (change)="uploadFileShow(file1.files,$event)" style="display:none;">
                            <button type="button" class="btn btn-info" (click)="file1.click()">Tải ảnh lên</button>
                        </span>
               
                    </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <div class="review" style="margin-bottom: 5px;">
                        <div *ngIf="lstImg[0]!=null&&lstImg[0]!=''"><img  *ngFor="let url of lstImg" src="../../../../assets/img/product/{{url}}"  alt="..." style="width: 150px;"></div>
                        <div *ngIf="lstImg[0]==null||lstImg[0]==''&&lstImg3[0]!=null"><img *ngFor="let url of lstImg3" [src]="url"  alt="..." style="width: 150px;"></div>
                  
                    </div>
                    <div class="fileinput-new" data-provides="fileinput" >
                      
                        <span class="btn-file" >
                         
                            
                            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,$event)" style="display:none;margin-bottom: 5px;">
                            <button type="button" class="btn btn-info" (click)="file.click()">Tải ảnh lên</button>&nbsp;
                            <button type="button" class="btn btn-info" (click)="clear()">Làm mới</button>
                        </span>
                      
                    </div>
                </div>
                <button type="submit" class="btn btn-info"><i class="fa fa-floppy-o "></i>&nbsp;Lưu</button> &nbsp;
                <a [routerLink]="['/admin/product']"><i class="fa fa-reply"></i>Back</a>
                
            </form>
        </div>
    </div>
</div>
</div>
<style>
    textarea {
        
}
</style>