<div class="alert bg-success alert-dismissible " hidden="true" role="alert"> <button type="button" class="close"
    data-dismiss="alert" aria-label="Close"><span>×</span></button> <strong>Success!</strong>
Product successfully added. </div>

<div class="row">
<div class="col">
    <div class="card">
        <div class="card-header card-default">
            Chỉnh sửa sản phẩm
        </div>
   
        <div class="card-body">

            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm)">

                <div class="form-group">
                    <label>Tên sản phẩm</label>
                    <input type="text" placeholder="Nhập tên sản phẩm" class="form-control form-control-rounded"
                        formControlName="name" >
                </div>

                <div class="form-group">
                    <label>Loại sản phẩm</label>
                    <select class="form-control m-b" formControlName="categoryId">
                        <Option *ngFor="let p of category" value="{{p.id}}">{{p.name}}</Option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Giá</label>
                    <div class="input-group col-md-4">
                        <span class="input-group-addon">VNĐ</span>
                        <input type="text" class="form-control" formControlName="price" >

                    </div>
                </div>
              

                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea formControlName="description">
                     
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Thương hiệu</label>
                    <select class="form-control m-b" formControlName="tradeMarkId">
                        <Option *ngFor="let p of brand" value="{{p.id}}">{{p.name}}</Option>
                    </select>
                    </div>
                <div class="form-group">
                    <label>CPU</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="cpu" >
                </div>
                <div class="form-group">
                    <label>Kiểu thiết kế</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="designStyle" >
                </div>
                <div class="form-group">
                    <label>Màn hình</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="monitor" >
                </div>
                <div class="form-group">
                    <label>RAM</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="ram" >
                </div>
                <div class="form-group">
                    <label>Ổ cứng</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="hardDisk" >
                </div>
                <div class="form-group">
                    <label>Kích thước - cân nặng</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="sizeWeight" >
                </div>
                <div class="form-group">
                    <label>Card đồ hoạ (VGA)</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="vga" >
                </div>
                <div class="form-group">
                    <label>Hệ điều hành</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="os" >
                </div>
                <div class="form-group">
                    <label>Cổng kết nối</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="port" >
                </div>
                <div class="form-group">
                    <label>Ngày ra mắt</label>
                    <input type="text" class="form-control form-control-rounded col-md-4"
                        formControlName="releaseTime" >
                </div>
                <div class="form-group">
                    <label>Ảnh sản phẩm</label> <br>
                    <div class="review">
                        <img *ngIf="lstImg1!=null" src="../../../../assets/img/product/{{lstImg1}}"  alt="..." style="width: 150px;">
                        <img *ngIf="lstImg1==null&&imgshow!=null" [src]="imgshow"  alt="..." style="width: 150px;">
                    </div>
                        <span class="btn-file1">
                    
                            <input type="file" #file1 placeholder="Choose file" (change)="uploadFileShow(file1.files,$event)" style="display:none;">
                            <button type="button" class="btn btn-success" (click)="file1.click()">Upload File1</button>
                        </span>
               
                    </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <div class="review">
                        <div *ngIf="lstImg[0]!=null&&lstImg[0]!=''"><img  *ngFor="let url of lstImg" src="../../../../assets/img/product/{{url}}"  alt="..." style="width: 150px;"></div>
                        <div *ngIf="lstImg[0]==null||lstImg[0]==''&&lstImg3[0]!=null"><img *ngFor="let url of lstImg3" [src]="url"  alt="..." style="width: 150px;"></div>
                  
                    </div>
                    <div class="fileinput-new" data-provides="fileinput" >
                      
                        <span class="btn-file" >
                         
                            
                            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files,$event)" style="display:none;">
                            <button type="button" class="btn btn-success" (click)="file.click()">Tải ảnh lên</button>
                            <button type="button" class="btn btn-success" (click)="clear()">Clear</button>
                        </span>
                      
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-floppy-o "></i>Save</button>
                <a [routerLink]="['/admin/product']" class="btn btn-warning btn-icon"><i class="fa fa-reply"></i>Back</a>
                
            </form>
        </div>
    </div>
</div>
</div>
<style>
    textarea {
  width: 1175px;;
  height: 150px;
}
</style>