<div class="title">
    <span>Danh sách bình luận</span>
</div>
<table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline align-self-center" width="100%">
    <thead>
        <tr>
            <th>
                <strong>STT</strong>
            </th>
            <th>
                <strong>Người dùng</strong>
            </th>
            <th>
                <strong>Nội dung</strong>
            </th>
            <th>
                <strong>Sản phẩm</strong>
            </th>
            <th>
                <strong>Thời gian</strong>
            </th>
            <th>
                <strong>Đánh giá</strong>
            </th>
            <th>
                <strong>Action</strong>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cate of POSTS | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
          };
    let i = index">
            <td>{{i+1}}</td>
            <td>{{cate.userName}}</td>
            <td>{{cate.noiDung}}</td>
            <td style="white-space: inherit;">
                {{cate.tenSanPham}}
            </td>
            <td>{{cate.thoiGian | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{cate.danhGia}}</td>
           
            <td class="text-center">
                <button (click)="goToComment(cate.idSanPham)" type="button" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>&nbsp;
                <button (click)="deleteComment(cate.id)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    
      
    </tbody>
    
</table>
<div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
