<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-default">
              Chi tiết hoá đơn
            </div>
         
            <div class="card-body">
             
                <table id="datatable" class="table table-striped dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng </th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let inv of data1">
                                        <td>{{inv.sanPham}}</td>
                                        <td>{{inv.soluong}}</td>
                                        <td>{{inv.donGia}}</td>
                                    </tr>
                                </tbody>
                </table>
                
                <div class="head-iv">
                    <div class="row">
                        <div class="col-md-4"><span>Ngày lập:</span> {{data2.date | date:'dd/MM/yyyy'}}</div>
                        <div class="col-md-4"><span>Khách:</span> {{data2.username}}</div>
                        <div class="col-md-4"><span>Tổng tiền:</span> {{data2.total | currency:'VND'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="btn">
        <div>
            <button (click)="closeDialog()" type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
        </div>
    </div>
  
</div>



                        <style>
                            #btn {
                               
                              
                                display: flex;
                                justify-content: flex-end;
                                position: fixed;
                                width: 50%;
                                top: 130px;

                            }
                            button {
                                margin-right: 20px;
                            }

                            .head-iv {
                                justify-content: center;
                                padding-bottom: 10px;
                            }

                            .head-iv span {
                               font-style:initial;
                               font-weight: 800;
                            }
                        </style> 

