<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
    </div>
    <div class="col-lg-6 align-self-center text-right">
        <a [routerLink]="['/admin/import/create']" class="btn btn-info box-shadow  btn-rounded"><i class="fa fa-plus"></i> Tạo hoá đơn nhập</a>
    </div>
</div>
<div class="row">

    <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" width="100%">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    <strong>Ngày lập</strong>
                </th>
                <th>
                    <strong>Tổng tiền</strong>
                </th>
               
                <th>
                    <strong>Tác vụ</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let acc of invoice;let i=index">
                <td>{{i+1}}</td>
                <td>{{acc.thoiGian | date:'dd/MM/yyyy'}}</td>
                <td>{{acc.total | currency:'VND'}}</td>
         
            
                <td class="">
                    <button (click)="view(acc.id)" type="button" class="btn btn-sm btn-info"><i  class="fa fa-eye"></i></button>
                   
                </td>
            </tr>
          
        </tbody>
    </table>