
<style>
    main {
        min-height: 600px;
    }
    .btn-sub {
        margin-top: 15px;
        display: flex;
        
    }
    .btn-sub button {
        border-radius: 7px;
        width: 250px;
        padding:3px 10px 3px 10px;
        background-color: rgb(103, 98, 98);
        color: white;
    }
    .btn-sub button:hover{
        background-color: rgb(72, 72, 244);
    }
</style>
<main id="main-container" class="main-container">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="acc-manage">
                    <h3>Tài khoản cá nhân</h3>
                </div>
                <!-- :::::::::: Start My Account Section :::::::::: -->
                <div class="my-account-area">
                    <div *ngIf="isLogin" class="row">
                        <div class="col-xl-3 col-lg-3">
                            <div class="my-account-menu">
                                <ul class="nav account-menu-list flex-column nav-pills" id="pills-tab" role="tablist">
                                 
                                    <li>
                                        <a id="pills-order-tab" class="active link--icon-left" data-toggle="pill"
                                            href="#pills-order" role="tab" aria-controls="pills-order"
                                            aria-selected="false"><i class="fas fa-shopping-cart"></i> Đơn hàng</a>
                                    </li>



                                    <li>
                                        <a id="pills-account-tab" class="link--icon-left" data-toggle="pill"
                                            href="#pills-account" role="tab" aria-controls="pills-account"
                                            aria-selected="false"><i class="fas fa-user"></i>
                                            Quản lý tài khoản</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="tab-content my-account-tab" id="pills-tabContent">
                            
                                <div class="tab-pane fade show active" id="pills-order" role="tabpanel"
                                    aria-labelledby="pills-order-tab">
                                    <div class="my-account-order account-wrapper">
                                        <h4 class="account-title">Danh sách đơn hàng</h4>
                                        <div class="account-table text-center m-t-30 table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th >STT</th>
                                                        <th >Ngày lập </th>
                                                        <th>Địa chỉ</th>
                                                        <th >Tổng hoá đơn</th>
                                                        <th>Trạng thái</th>
                                                        <th >Tác vụ </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of invoice | orderBy:'-date' ; let stt=index">
                                                        <td >{{stt+1}}</td>
                                                        <td >{{i.date | date:'dd/MM/yyyy'}}</td>
                                                        <td >{{i.shippingAddress}}</td>
                                                        <td >{{i.total | currency:'VND'}}</td>
                                                        <td *ngIf="!i.status" class="text-center">Đang chờ</td>
                                                        <td *ngIf="i.status&&!i.complete" class="text-center">Đang giao</td>
                                                        <td *ngIf="i.status&&i.complete" class="text-center">Hoàn thành</td>
                                                        <td style="display: flex;" class="text-center">
                                                           <div class="div"> <a (click)="view(i.id)" style="font-size: 13px;">View</a> 
                                                          
                                                            <a *ngIf="!i.status" (click)="cancel(i.id)" style="font-size: 13px;">|Huỷ</a></div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-account" role="tabpanel"
                                    aria-labelledby="pills-account-tab">
                                    <div class="my-account-details account-wrapper">
                                        <h4 class="account-title">Thông tin tài khoản</h4>

                                        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
                                            <div class="account-details">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Tên"
                                                                formControlName="fullName">
                                                        </div>
                                                        <div *ngIf="!profileForm.value.fullName" style="color: red;">
                                                            <small> Full name is required.</small>
                                                           </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Tài khoản"
                                                                formControlName="username">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="address"
                                                                formControlName="address">
                                                        </div>
                                                        <div *ngIf="!profileForm.value.address" style="color: red;">
                                                            <small> Address is required.</small>
                                                           </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Email address"
                                                                formControlName="email">
                                                        </div>
                                                        <div *ngIf="!profileForm.value.email" style="color: red;">
                                                           <small> Name is required.</small>
                                                          </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Phone"
                                                                formControlName="phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <h5 class="title" style="color: rgba(0, 0, 255, 0.822);">Đổi mật khẩu</h5>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-6">
                                                        <div class="form-box__single-group">
                                                            <input type="password" placeholder="Nhập mật khẩu mới"
                                                                formControlName="newPassword">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="password" placeholder="Nhập lại mật khẩu"
                                                                formControlName="passwordConfirm">
                                                            <small *ngIf="check==1" style="color: red;">Mật khẩu không trùng khớp</small>
                                                        </div>
                                                        <div class="btn-sub">
                                                            <button type="submit"  style="background-color: rgba(0, 0, 255, 0.822);">Lưu thay đổi</button>
                                                        </div>
                                                    </div>
                                              
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!isLogin" class="nonLogin">
                        <h1>Bạn Chưa Đăng Nhập</h1>
                    </div>
                </div><!-- :::::::::: End My Account Section :::::::::: -->
            </div>
        </div>
    </div>
</main>