
<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- :::::::::: Start My Account Section :::::::::: -->
                <div class="my-account-area">
                    <div *ngIf="isLogin" class="row">
                        <div class="col-xl-3 col-md-4">
                            <div class="my-account-menu">
                                <ul class="nav account-menu-list flex-column nav-pills" id="pills-tab" role="tablist">
                                    <li>
                                        <a class="active link--icon-left" id="pills-dashboard-tab" data-toggle="pill"
                                            href="#pills-dashboard" role="tab" aria-controls="pills-dashboard"
                                            aria-selected="true"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                                    </li>
                                    <li>
                                        <a id="pills-order-tab" class="link--icon-left" data-toggle="pill"
                                            href="#pills-order" role="tab" aria-controls="pills-order"
                                            aria-selected="false"><i class="fas fa-shopping-cart"></i> Order</a>
                                    </li>



                                    <li>
                                        <a id="pills-account-tab" class="link--icon-left" data-toggle="pill"
                                            href="#pills-account" role="tab" aria-controls="pills-account"
                                            aria-selected="false"><i class="fas fa-user"></i>
                                            Account Details</a>
                                    </li>
                                    <li>
                                        <a class="link--icon-left" (click)="logOut()"><i class="fas fa-sign-out-alt"></i>
                                            Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-8">
                            <div class="tab-content my-account-tab" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
                                    aria-labelledby="pills-dashboard-tab">
                                    <div class="my-account-dashboard account-wrapper">
                                        <h4 class="account-title">Dashboard</h4>
                                        <div class="welcome-dashboard m-t-30">
                                            <p>Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni !</strong>
                                                <a href="#">Logout</a> )</p>
                                        </div>
                                        <p class="m-t-25">From your account dashboard. you can easily check &amp; view
                                            your
                                            recent orders, manage your shipping and billing addresses and edit your
                                            password and
                                            account details.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-order" role="tabpanel"
                                    aria-labelledby="pills-order-tab">
                                    <div class="my-account-order account-wrapper">
                                        <h4 class="account-title">Orders</h4>
                                        <div class="account-table text-center m-t-30 table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="no">No</th>
                                                        <th class="name">Ngày lập </th>
                                                        <th class="date">Địa chỉ</th>
                                                        <th class="status">Tổng hoá đơn</th>
                                                        <th class="total">Trạng thái</th>
                                                        <th class="action">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of invoice; let stt=index">
                                                        <td>{{stt+1}}</td>
                                                        <td>{{i.date | date:'dd/MM/yyyy'}}</td>
                                                        <td>{{i.shippingAddress}}</td>
                                                        <td>{{i.total | currency:'VND'}}</td>
                                                        <td *ngIf="!i.status">Đang chờ</td>
                                                        <td *ngIf="i.status">Hoàn thành</td>
                                                        <td><a (click)="view(i.id)">View</a></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-account" role="tabpanel"
                                    aria-labelledby="pills-account-tab">
                                    <div class="my-account-details account-wrapper">
                                        <h4 class="account-title">Account Details</h4>

                                        <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
                                            <div class="account-details">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Tên"
                                                                formControlName="fullName">
                                                        </div>
                                                        <div *ngIf="!profileForm.value.fullName" style="color: red;">
                                                            <small> Full name is required.</small>
                                                           </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Tài khoản"
                                                                formControlName="username">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="address"
                                                                formControlName="address">
                                                        </div>
                                                        <div *ngIf="!profileForm.value.address" style="color: red;">
                                                            <small> Address is required.</small>
                                                           </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Email address"
                                                                formControlName="email">
                                                        </div>
                                                        <div *ngIf="!profileForm.value.email" style="color: red;">
                                                           <small> Name is required.</small>
                                                          </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="text" placeholder="Phone"
                                                                formControlName="phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <h5 class="title">Password change</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="password" placeholder="Current Password"
                                                                formControlName="password">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-box__single-group">
                                                            <input type="password" placeholder="New Password"
                                                                formControlName="newPassword">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-box__single-group">
                                                            <input type="password" placeholder="Confirm Password"
                                                                formControlName="passwordConfirm">
                                                        </div>
                                                        <div class="form-box__single-group">
                                                            <button type="submit"
                                                                class="btn btn--box btn--small btn--uppercase btn--blue">Save
                                                                Change</button>
                                                        </div>
                                                    </div>
                                              
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!isLogin" class="nonLogin">
                        <h1>Bạn Chưa Đăng Nhập</h1>
                    </div>
                </div><!-- :::::::::: End My Account Section :::::::::: -->
            </div>
        </div>
    </div>
</main>