<div class="row page-header">
    <div class="col-6 align-self-center ">
      <h2>Quản lý nhà cung cấp</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']" style="font-size: 15px;">Trang chủ</a></li>
         
            <li class="breadcrumb-item active" style="font-size: 15px;">Quản lý nhà cung cấp</li>		
        </ol>
    </div>
</div>
<style>
    ol li {
        display: flex;
        align-items: center;
        color: #868e96;
        
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 ">
                     
                          
                            
                
                    </div>
                    <div class="col-lg-6 align-self-center text-right">
                        <a class="nav-link" [routerLink]="['/admin/supplier/create']" class="btn btn-info box-shadow btn-rounded"><i class="fa fa-plus"></i>&nbsp; Thêm mới</a>
                    </div>
                </div>
                <table id="datatable" class="table table-striped dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Tên nhà cung cấp</th>
                                        <th>Địa chỉ </th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                
                                        <th>Tác vụ</th>
                                     
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <tr *ngFor="let sup of supplier">
                                        <td>{{sup.tenNhaCungCap}}</td>
                                        <td>{{sup.address}}</td>
                                        <td>{{sup.phone}}</td>
                                        <td>{{sup.email}}</td>
                                        
                                        <td class="text-center">
                                            <button (click)="openEdit(sup.id)" type="button" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></button> &nbsp;
                                            <button (click)="remove(sup.id)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                                        </td>
                                   
                                    </tr>
                                    
               
                                </tbody>
                            </table>
    
            </div>
        </div>
    </div>
    </div>
