<div class="col-md-6">
    <h6>Viết bình luận của bạn</h6>

    <form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)" class="form-box">
        <div class="form-box__single-group">
            <label for="form-review">Nội dung*</label>
            <textarea id="form-review" rows="5" formControlName="content"></textarea>
        </div>
        
     <div class="rate" style="margin-top: 10px;"> <ngx-star-rating formControlName="star" [id]="'rating'"></ngx-star-rating></div> <br>
      
        <div class="from-box__buttons d-flex justify-content-between d-flex-warp m-t-25 align-items-center">
            <div class="btn-send">
                <div class="btn">
                    <button type="submit">Gửi bình luận</button>
                </div>
                <div class="btn">
                    <button type="submit">Huỷ bỏ</button>
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    .rate{
        display: flex;
        justify-content: flex-start;
    }
    .btn button{
        border-radius: 5px;
        padding: 10px;
        color: rgb(69, 69, 239);
        border: 1px solid rgb(91, 91, 239);
    }
    .btn button:hover {
       background-color: rgb(91, 91, 239);
       color: white;
    }
</style>