<div class="col-md-6">
    <h6>Viết bình luận của bạn</h6>
    <div class="review-box">
        <span>Quality</span>
        <ul class="product__review">
            <li class="product__review--fill"><i class="icon-star"></i></li>
            <li class="product__review--fill"><i class="icon-star"></i></li>
            <li class="product__review--fill"><i class="icon-star"></i></li>
            <li class="product__review--fill"><i class="icon-star"></i></li>
            <li class="product__review--blank"><i class="icon-star"></i></li>
        </ul>
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)" class="form-box">
        <div class="form-box__single-group">
            <label for="form-review">Nội dung*</label>
            <textarea id="form-review" rows="5" formControlName="content"></textarea>
        </div>
        
        <select name="star" id="" formControlName="star">
            <option value="1">1 </option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <div class="from-box__buttons d-flex justify-content-between d-flex-warp m-t-25 align-items-center">
            <div class="form-box-right">
                <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight" type="submit">Send</button>
                or
                <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight" type="button" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </form>
</div>