<main id="main-container" class="main-container">
    <div class="container" style="display: block; justify-items: center;">
       
         
              <div class="title">
                <span>TTTTTTTTTTTTTTTTTTTTTTTTTTT</span>
              </div>
              <div class="content">
                <span>
                    {{dataAb.content}}
                </span>
              </div>
    
  

    <div class="arrow-r">
        <i class="fa fa-chevron-right fa-4x" aria-hidden="true" (click)="next()"></i>
    </div>
    <div *ngIf="about>0" class="arrow-l">
        <i class="fa fa-chevron-left fa-4x" aria-hidden="true" (click)="prev()"></i>
    </div>
    </div>
</main>

<style>
    #content {
        white-space: pre;
        width: 200px;
    }

    .arrow-r {
        position: fixed;
        bottom: 300px;
        right: 20px;

        color: grey;
        
    }
    .arrow-r:hover {
        color: rgb(51, 51, 255);
    }
    .arrow-l {
        position: fixed;
        bottom: 300px;
        left: 20px;

        color: grey;
        
    }
    .arrow-l:hover {
        color: rgb(51, 51, 255);
    }
    .title {
        
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .title span {
        font-size: 40px;
        line-break:strict;
    }
    .content {
        width: 500px;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 30px;
    }
   
</style>