<div class="container">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-default">
              Chi tiết hoá đơn
            </div>
         
            <div class="card-body">
             
                <table id="datatable" class="table table-striped dt-responsive ">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Sản phẩm</th>
                                        <th style="width: 100px;">Số lượng </th>
                                        <th>Giá nhập</th>
                                        <th>Nhà cung cấp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let inv of data1; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{inv.tenSanPham}}</td>
                                        <td>{{inv.soLuong}}</td>
                                        <td>{{inv.gia}}</td>
                                        <td>{{inv.nhaCungCap}}</td>
                                    </tr>
                                </tbody>
                </table>
                
                <div class="head-iv">
                    <div class="row">
                       
                        <div class="col-md-4"><span>Tổng tiền:</span> {{total | currency:'VND'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="btn">
        <div>
            <button (click)="closeDialog()" type="button" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
        </div>
    </div>
  
</div>



                        <style>
                            #btn {
                               
                              
                                display: flex;
                                justify-content: flex-end;
                                position: fixed;
                                width: 50%;
                                top: 70px;
                                right: 255px;

                            }
                            button {
                                margin-right: 20px;
                            }

                            .head-iv {
                                justify-content: center;
                                padding-bottom: 10px;
                            }

                            .head-iv span {
                               font-style:initial;
                               font-weight: 800;
                            }
                        </style> 

