
<div class="title">
    <span style="display:flex;justify-content:center; margin-bottom:20px; font-size:20px; font-weight:500;">Chi tiết hoá đơn</span>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="card">
         
         
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div style="display: flex; margin-bottom: 10px;" class="if">
                            <div class="lable" style="width: 100px;">Ngày lập :</div>
                            <div class="content" >{{data1[0].ngayNhap |date:'dd/MM/yyyy'}}</div>
                        </div>
                        <div style="display: flex; margin-bottom: 10px;" class="if">
                            <div class="lable" style="width: 100px;">Tổng hoá đơn :</div>
                            <div class="content">{{total | currency:'VND'}}</div>
                        </div>
                    </div>
                </div>
                <table id="datatable" class="table table-striped dt-responsive ">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Sản phẩm</th>
                                        <th style="width: 100px;">Số lượng </th>
                                        <th>Giá nhập</th>
                                        <th>Tổng cộng</th>
                                        <th>Nhà cung cấp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let inv of data1; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{inv.tenSanPham}}</td>
                                        <td>{{inv.soLuong}}</td>
                                        <td>{{inv.giaNhap|currency:'VND'}}</td>
                                        <td>{{inv.gia|currency:'VND'}}</td>
                                        <td>{{inv.nhaCungCap}}</td>
                                    </tr>
                                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12" id="btn">
        <div>
            <a (click)="closeDialog()"><span style="font-weight: bold; font-size:20px;">x</span></a>
        </div>
    </div>
   
</div>
                        <style>
                           
                            button {
                                margin-right: 20px;
                            }

                            .head-iv {
                                justify-content: center;
                                padding-bottom: 10px;
                            }

                            .head-iv span {
                               font-style:initial;
                               font-weight: 800;
                            }
                        </style> 

