

<div class="container">
    <div class="col-md-12">
        <div class="card">
         
            <div class="card-header card-default" style="display: flex; justify-content:space-between">
                <span>Chi tiết hoá đơn</span>
                <span (click)="closeDialog()" style="font-weight: bold;">x</span>
            </div>
            <div class="card-body">
                <div class="row-md" style="display: flex;">
                    <div class="col-md-6">
                        <div class="info" style="display: block;">
                            <div style="display: flex;" class="if">
                                <div class="lable">Ngày lập :</div>
                                <div class="content">{{data1[0].ngayNhap | date:'dd/MM/yyyy'}}</div>
                            </div>
                    
                            <div style="display: flex;" class="if">
                                <div class="lable">Tổng hoá đơn :</div>
                                <div class="content">{{total | currency:'VND'}}</div>
                            </div>
                         
                        </div>
                    </div>
                   
                </div>
                <table id="datatable" class="table table-striped dt-responsive ">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Sản phẩm</th>
                                        <th style="width: 100px;">Số lượng </th>
                                        <th>Giá nhập</th>
                                        <th>Tổng cộng</th>
                                        <th>Nhà cung cấp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let inv of data1; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{inv.tenSanPham}}</td>
                                        <td>{{inv.soLuong}}</td>
                                        <td>{{inv.giaNhap|currency:'VND'}}</td>
                                        <td>{{inv.giaNhap*inv.soLuong|currency:'VND'}}</td>
                                        <td>{{inv.nhaCungCap}}</td>
                                    </tr>
                                </tbody>
                </table>
            </div>
        </div>
    </div>
 
</div>

<style>
 

    button {
        margin-right: 20px;
    }

    .info {
        list-style-type: none;
    }

    .lable {
        width: 150px;
        font-weight: bold;
    }

    .if {
        margin-bottom: 10px;
    }
</style>