<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-default">
                Tạo tài khoản Admin
            </div>
            <div class="card-body">

                <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" autocomplete="off">

                    <div class="form-group">
                        <label>Tên đầy đủ</label>
                        <input type="text" placeholder="Nhập tên đầy đủ" class="form-control form-control-rounded"
                            formControlName="fullName">
                    </div>
                    <div class="form-group">
                        <label>Tên tài khoản</label>
                        <input type="text" placeholder="Nhập tên tài khoản" class="form-control form-control-rounded"
                            formControlName="username">
                    </div>

                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" placeholder="Nhập mật khẩu" class="form-control form-control-rounded"
                            formControlName="password">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="Nhập email" class="form-control form-control-rounded"
                            formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="text" placeholder="Nhập số điện thoại" class="form-control form-control-rounded"
                            formControlName="phone">
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" placeholder="Nhập địa chỉ" class="form-control form-control-rounded"
                            formControlName="address">
                    </div>


                    <button type="submit" class="btn btn-success btn-icon"><i class="fa fa-floppy-o "></i>Save</button>
                    <a [routerLink]="['/admin/account']" class="btn btn-warning btn-icon"><i class="fa fa-reply"></i>Back</a>
                </form>
            </div>
        </div>
    </div>
</div>